/* Starter Template */
:root {
    --primary-blue: #002772;
    --primary-purple: #720060;
    --primary-purple-inactive: #a04092;
    --primary-blue-inactive: #3060b9;
    --blue-loader: #5f94f7;
    --purple-loader: #ffa1f1;
    --bg-pink: #fde2ff;
    --bg-blue: #d6e6ff;
    --bg-secondary: #dcdcdc;
    --primary-dark: #1e1e1e;
    --secondary-dark: #3f3f3f;
    --color-white: #ffffff;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Inter";
    font-size: 20px;
    line-height: 1.6;
  }
  
  h1,
  h2,
  h3 {
    margin-bottom: 10px;
    line-height: normal;
  }
  
  h1 {
    font-size: 28px;
    font-weight: 600;
  }
  
  p {
    font-weight: 400;
    line-height: normal;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .primary-blue {
    color: var(--primary-blue);
  }
  
  .bg-primary-blue {
    background-color: var(--primary-blue);
  }
  
  .border-color-blue{
      border-color: var(--primary-blue) !important;
  }
  
  .primary-purple {
    color: var(--primary-purple);
  }
  
  .bg-primary-purple {
    background-color: var(--primary-purple);
  }
  
  .border-color-purple{
      border-color: var(--primary-purple) !important;
  }
  
  .bg-gradient-blue{
      background: linear-gradient(180deg, rgba(35,91,198,1) 50%, rgba(255,255,255,1) 50%);
  }
  
  .bg-gradient-purple{
      background: linear-gradient(180deg, rgba(210,50,185,1) 50%, rgba(255,255,255,1) 50%);
  }
  
  .bg-gradient-gray{
      background: linear-gradient(180deg, rgba(229,229,229,1) 50%, rgba(255,255,255,1) 50%);
  }
  
  .col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
    padding: 50px;
  }
  
  .col-60 {
    float: left;
    width: 60%;
    margin-top: 6px;
    padding: 50px 50px 50px 0px;
  }
  
  .row{
    width: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-content-between {
    justify-content: space-between;
  }
  
  .flex-content-center {
    justify-content: center;
  }
  
  .flex-items-center {
    align-items: center;
  }
  
  .flex-row{
    flex-direction: row;
  }
  
  .flex-column{
    flex-direction: column;
  }
  
  .flex-wrap{
    flex-wrap: wrap;
  }
  
  .flex-nowrap{
    flex-wrap: nowrap;
  }
  
  .gap-2 {
    gap: 2px;
  }
  
  .mr-2 {
    margin-right: 2px;
  }
  
  .mr-20 {
      margin-right: 20px;
  }
  
  .mr-10{
      margin-right: 10px;
  }
  
  .mt-25{
      margin-top: 25px;
  }
  
  .mt-15{
      margin-top: 15px;
  }
  
  .mb-15{
    margin-bottom: 15px;
  }
  
  hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 600px) {
    .row{
      flex-direction: column;
    }
  
    .col-40,
    .col-60 {
      width: 100%;
      margin-top: 0;
    }
  
    .col-60{
      padding: 30px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .row{
      flex-direction: column;
    }
    
    .col-40,
    .col-60 {
      width: 50%;
      margin-top: 0;
    }
  
    .col-60{
      padding: 30px;
    }
  }


/* Animation */

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: var(--blue-loader);
    box-shadow: 30px 0 0 var(--purple-loader);
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: var(--purple-loader);
    box-shadow: 30px 0 0 var(--blue-loader);
  }
  
  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 var(--purple-loader);
    }
    50% {
      box-shadow: 0 0 0 var(--purple-loader);
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 var(--purple-loader);
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 var(--blue-loader);
    }
    50% {
      box-shadow: 0 0 0 var(--blue-loader);
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 var(--blue-loader);
      margin-top: 0;
    }
  }
  